body{
    background-image: url("../images/concrete_seamless.png");
    color: #777777;
}
nav{
    padding-left:100px;
    padding-right:100px;
}
footer{
    padding-top: 50px;
    background: #666666;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.footer-top-line{
    width: 100%;
    height: 10px;
    background:#4aaaa5; 
}
h1,h3{
    color:#4aaaa5;
    font-family:'Georgia', Times, Times New Roman, serif;
}
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
p.footer{
    
    color:#fff;
    padding-bottom: 30px;
}
.row-content{
    padding-left:100px;
    padding-right:100px;
    padding-bottom:150px;}
.row-sidebar{
    padding-left:10px;
    padding-right:10px;
}
.mybgbutton{
    background: #4aaaa5;
    color: #ffffff;
}
.myimgcaption{
   position: absolute;
   top:75%;
   background: #4aaaa5;
   color: #ffffff;
   text-align: center; 
   width: 400px;
   height: 20%;
   font-size: 18px;
}
.gap{
    margin: 30px;
}
.myimgportfolio{
    float: left;
    margin: 25px;
}
.clear{
    clear: both;
}
